/* RESET CSS  */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLORS */
:root {
    --primary-color-1: #333333;
    --primary-color-9: #fcf4d1;
    --secondary-color-13: #ccddbb;
    --secondary-color-2: #c7d8db;
    --secondary-color-22: #f8e9a0;
    --secondary-color-6: #f7d9c5;
    --lightgray: #9e9e9e;
}

body {
    background-color: var(--primary-color-9);
    color: var(--primary-color-1);
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-wrapper {
    width: 600px;
    height: 360px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 180px;
}

.wrapper1,
.wrapper2,
.wrapper3,
.wrapper4 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    grid-auto-rows: 60px;
    grid-column: span 1;
    grid-row: span 1;
}

.item {
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 20px;
    color: var(--primary-color-1);
    font-weight: 900;
    background-color: transparent;
    border: 1px dashed var(--lightgray);
}

.item1 {
    grid-column: span 2;
    grid-row: span 2;
    background-color: var(--secondary-color-13);
}

.item2 {
    grid-column: span 2;
    grid-row: span 1;
}

.item3 {
    grid-column: span 1;
    grid-row: span 1;
    background-color: var(--secondary-color-2);
}

.item4 {
    grid-column: span 2;
    grid-row: span 1;
    background-color: var(--secondary-color-22);
}

.item5 {
    grid-column: span 1;
    grid-row: span 2;
}

.item6 {
    grid-column: span 2;
    grid-row: span 2;
    background-color: var(--secondary-color-6);
}

.item7 {
    grid-column: span 2;
    grid-row: span 2;
    background-color: var(--secondary-color-22);
}


.item8 {
    grid-column: span 2;
    grid-row: span 1;
    background-color: var(--secondary-color-13);
}


.item9 {
    grid-column: span 1;
    grid-row: span 1;
    background-color: var(--secondary-color-6);
}


.item10 {
    grid-column: span 2;
    grid-row: span 1;
}


.item11 {
    grid-column: span 1;
    grid-row: span 2;
    background-color: var(--secondary-color-2);
}


.item12 {
    grid-column: span 2;
    grid-row: span 2;
}

.item13 {
    grid-column: span 1;
    grid-row: span 1;
}


.item14 {
    grid-column: span 2;
    grid-row: span 1;
}


.item15 {
    grid-column: span 2;
    grid-row: span 2;
}


.item16 {
    grid-column: span 2;
    grid-row: span 2;
    background-color: var(--secondary-color-13);
}


.item17 {
    grid-column: span 1;
    grid-row: span 2;
}


.item18 {
    grid-column: span 2;
    grid-row: span 1;
}

.item19 {
    grid-column: span 1;
    grid-row: span 1;
    background-color: var(--secondary-color-6);
}

.item20 {
    grid-column: span 2;
    grid-row: span 1;
}

.item21 {
    grid-column: span 2;
    grid-row: span 2;
    background-color: var(--secondary-color-22);
}

.item22 {
    grid-column: span 2;
    grid-row: span 2;
    background-color: var(--secondary-color-13);
}


.item23 {
    grid-column: span 1;
    grid-row: span 2;
}

.item24 {
    grid-column: span 2;
    grid-row: span 1;
}